torch>=2.5.1
torchvision>=0.20.1
numpy>=2.2.4
pandas>=2.2.3
scikit-learn>=1.6.1
opencv-python>=4.11.0
tqdm>=4.67.1
pillow>=11.1.0
matplotlib>=3.10.1
timm>=1.0.15
wildlife-datasets>=1.0.5
wildlife-tools>=1.0.1 